@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200&family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Open+Sans:ital@0;1&display=swap');

:root {
  --color-nav: white;
  --color-line: lightgray;
  --color-checkbox: rgb(240, 225, 225);
  --color-hover: black;
}

*{
    margin:0;
    padding:0;
}

html, body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
}

input, button {
    font-size: inherit;
}

.todo-app {
    width: 100%;
    max-width: 360px;
    margin: auto;
    margin-top: 140px;
}

form {
  display: flex;
  justify-content: space-between;
  
}

.todo-input-section
{
    margin-bottom: 10px;
    border-bottom: 2px solid var(--color-line);
}

.todo-input {
    padding: 10px 6px;
    flex: 1;
    border: none;
    outline: none;
}

.todo-input-button {
  flex-shrink: 0;
  margin-right: 15px;
  font-size: 2rem;
  outline: none;
  border: none;
  background-color: white;
  color: var(--color-line);
  cursor: pointer;}

.todo-input-button span {
    margin-right: 0px;
    font-weight: 100;
  }
  
.todo-input-button:hover span {
  color: var(--color-hover);
}

.todo-list-section ul li  {
    list-style-type: none;
    font-size: 0.8rem;
    border-bottom: 0.5px solid var(--color-line);
    padding: 5px 0 10px 10px;
    background: white; 
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 5px 0 5px;
  min-height: 36px;
  position: relative;
}

.todo-item input {
    appearance: none;
    display: none;
}


.todo-item input:checked + span {
  text-decoration: line-through;
  opacity: 0.5;
}


.todo-item span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  word-break: break-all ;/* max-width: 100% ; */
}

.todo-item div {
  display: flex;
  align-items: flex-start;
}

.todo-item > div > i {
  color: var(--color-line);
}

.fa-star {
  padding: 7px 3px 7px 7px;
  margin-right: 5px;
  cursor: pointer;
}

.fa-star:hover {
  color: gold;
}

.fa-trash {
  margin-right: 5px;
  padding: 7px 7px 7px 3px;
  cursor: pointer;
}

.fa-trash:hover {
  color: var(--color-hover); 
}